@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    @*<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    @Styles.Render("~/Content/css")  @*זה בעצם הכתובת של הבוטסטראפ עם הבנדלים*@

    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <title>_Layout</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("דף הבית", "NewRent_ToView", "Rent", new { area = "דף הבית" }, new { @class = "navbar-brand" })
            </div>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav">
                    <li>
                        @Html.ActionLink("מבצעים", "Sales_View", "Sales", new { area = "Sales" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("הזמנות", "Orders_View", "Orders", new { area = "Orders" }, new { @class = "navbar-brand" })
                    </li>
                    <li>
                        @Html.ActionLink("רכבים מומלצים", "CarsDescription_View", "CarsDescription", new { area = "CarsDescription" }, new { @class = "navbar-brand" })

                    </li>
                    <li>

                        @Html.ActionLink("קצת עלינו", "About", "About", new { area = "קצת עלינו" }, new { @class = "navbar-brand" })
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
</body>
</html>
